@media (min-width: 576px) { 
    .uploadLogo-container {
        margin-top: 100px;
        height: 500px;
        border-style: solid;
    }

    .uploadLogo-inputImage {
        margin-top : 100px;
        font-size: 30px;
        border-style: solid;
    }
    
    .server_status_success {
        margin-top: 3% !important;
        font-size: 50px;
        color: green;
    }
    
    .server_status_unsuccessful {
        margin-top: 3% !important;
        font-size: 50px;
        color: red;
    }

}

@media (min-width: 768px) { 
    .uploadLogo-container {
        margin-top: 100px;
        height: 500px;
        border-style: solid;
    }

    .uploadLogo-inputImage {
        margin-top : 100px;
        font-size: 30px;
        border-style: solid;
    }
    
    .server_status_success {
        margin-top: 3% !important;
        font-size: 50px;
        color: green;
    }
    
    .server_status_unsuccessful {
        margin-top: 3% !important;
        font-size: 50px;
        color: red;
    }

}

@media (min-width: 992px) { 
    .uploadLogo-container {
        margin-top: 100px;
        height: 500px;
        border-style: solid;
    }

    .uploadLogo-inputImage {
        margin-top : 100px;
        font-size: 30px;
        border-style: solid;
    }
    
    .server_status_success {
        margin-top: 3% !important;
        font-size: 50px;
        color: green;
    }
    
    .server_status_unsuccessful {
        margin-top: 3% !important;
        font-size: 50px;
        color: red;
    }

}

@media (min-width: 1200px) { 
    .uploadLogo-container {
        margin-top: 2%;
        height: 350px;
        width: 1000px !important;
        border-style: solid;
    }

    .title-header {
        margin-top: 20px;
        font-size: 50px;
    }

    .uploadLogo-icon {
        height: 130px !important;
        width: 130px !important;
    }

    .uploadLogo-fileInput {
        margin-top : 1% !important; 
        font-size: 20px;
        border-style: solid; 
    }

    .uploadLogo-button {
        margin-top: 50px;
        font-size: 20px !important;
        width: 26%;
    }
    
    .uploadLogo_server_status_success {
        margin-top: 15px;
        font-size: 40px;
        color: green;
    }
    
    .uploadLogo_server_status_unsuccessful {
        margin-top: 15px;
        font-size: 40px;
        color: red;
    }

}

@media (min-width: 1400px) { 
    .uploadLogo-container {
        margin-top: 50px;
        height: 500px;
        width: 1700px !important;
        border-style: solid;
    }

    .title-header {
        margin-top: 40px;
        font-size: 80px;
    }

    .uploadLogo-icon {
        height: 180px !important;
        width: 180px !important;
    }

    .uploadLogo-fileInput {
        margin-top : 2% !important; 
        font-size: 30px;
        border-style: solid; 
    }

    .uploadLogo-button {
        margin-top: 50px;
        font-size: 30px !important;
        width: 26%;
    }
    
    .uploadLogo_server_status_success {
        margin-top: 1.5em;
        font-size: 70px;
        color: green;
    }
    
    .uploadLogo_server_status_unsuccessful {
        margin-top: 1.5em;
        font-size: 70px;
        color: red;
    }

}

@media (min-width: 3840px) {
    .uploadLogo-container {
        margin-top: 100px;
        height: 900px;
        width: 2700px !important;
        border-style: solid;
    }

    .title-header {
        margin-top: 150px;
        font-size: 170px;
    }

    .uploadLogo-icon {
        height: 300px !important;
        width: 300px !important;
    }

    .uploadLogo-fileInput {
        margin-top : 4% !important; 
        font-size: 80px;
        border-style: solid; 
    }
    
    .uploadLogo-button {
        margin-top: 70px;
        font-size: 70px !important;
        width: 26%;
    }

    .uploadLogo-hint-button {
        margin-top: 20px;
        width: 8%;
        font-size: 70px !important;
    }
    
    .uploadLogo_server_status_success {
        margin-top: 1.5em;
        font-size: 100px;
        color: green;
    }
    
    .uploadLogo_server_status_unsuccessful {
        margin-top: 1.5em;
        font-size: 100px;
        color: red;
    }

    .modal-dialog {
        margin-top: 90px !important; 
        width: 50%;
        max-width: 50% !important;
    }

    .modal-title.h4 {
        font-size: 60px !important;
    }

    .modal-content {
        font-size: 60px;
    }

    .uploadLogo-close-button {
        font-size: 50px !important;
    }
}