@media (min-width: 576px) { 
    .user-title-row {
        /* border-style: dotted; */
        text-align: left;
    }
    
    .user-title {
        font-size: 6em;
    }
    
    .user-subheading-row {
        text-align: left;
    }
    
    .user-subheading {
        font-size: 2em;
    }
    
    .button-options {
        width: 100%;
        font-size: 2em !important;
    }
    
    .user-logout-row {
        margin-top: 7% !important;
    }
    
    .user-logout {
        font-size: 2em !important;
        width: 50%;
    }
}

@media (min-width: 768px) { 
    .user-title-row {
        /* border-style: dotted; */
        text-align: left;
    }
    
    .user-title {
        font-size: 6em;
    }
    
    .user-subheading-row {
        text-align: left;
    }
    
    .user-subheading {
        font-size: 2em;
    }
    
    .button-options {
        width: 100%;
        font-size: 2em !important;
    }
    
    .user-logout-row {
        margin-top: 7% !important;
    }
    
    .user-logout {
        font-size: 2em !important;
        width: 50%;
    }
}

@media (min-width: 992px) { 
    .user-title-row {
        /* border-style: dotted; */
        text-align: left;
    }
    
    .user-title {
        font-size: 6em;
    }
    
    .user-subheading-row {
        text-align: left;
    }
    
    .user-subheading {
        font-size: 2em;
    }
    
    .button-options {
        width: 100%;
        font-size: 2em !important;
    }
    
    .user-logout-row {
        margin-top: 7% !important;
    }
    
    .user-logout {
        font-size: 2em !important;
        width: 50%;
    }
}

@media (min-width: 1200px) { 
    .container {
        width: 100% !important;
    }

    .user-title-row {
        /* border-style: dotted; */
        text-align: left;
    }
    
    .user-title {
        font-size: 6em;
    }
    
    .user-subheading-row {
        text-align: left;
    }
    
    .user-subheading {
        font-size: 2em;
    }
    
    .button-options {
        width: 100%;
        font-size: 2em !important;
    }
    
    .user-logout-row {
        margin-top: 7% !important;
    }
    
    .user-logout {
        font-size: 2em !important;
        width: 50%;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 100% !important;
    }
    
    .user-title-row {
        /* border-style: dotted; */
        text-align: left;
    }
    
    .user-title {
        font-size: 10em;
    }
    
    .user-subheading-row {
        text-align: left;
    }
    
    .user-subheading {
        font-size: 3.5em;
    }
    
    .button-options {
        width: 100%;
        font-size: 3em !important;
    }
    
    .user-logout-row {
        margin-top: 200px !important;
    }
    
    .user-logout {
        font-size: 3em !important;
        width: 50%;
    }
}

@media (min-width: 3840px) {
    .container {
        width: 100% !important;
    }

    .user-title-row {
        /* border-style: dotted; */
        text-align: left;
    }
    
    .user-title {
        font-size: 20em;
    }
    
    .user-subheading-row {
        text-align: left;
    }
    
    .user-subheading {
        font-size: 7em;
    }
    
    .button-options {
        width: 100%;
        margin-top: 50px;
        font-size: 7em !important;
    }

    .userButtonRow {
        margin-right: 30px;
    }
    
    .user-logout-row {
        margin-top: 300px !important;
    }
    
    .user-logout {
        font-size: 7em !important;
        width: 50%;
    }
}