.user-title-row {
    /* border-style: dotted; */
    text-align: left;
}

.user-title {
    font-size: 6em;
}

.user-subheading-row {
    text-align: left;
}

.user-subheading {
    font-size: 2em;
}

.button-options {
    width: 100%;
    font-size: 2em !important;
}

.user-logout-row {
    margin-top: 300px !important;
}

.user-logout {
    font-size: 2em !important;
    width: 50%;
}