@media (min-width: 576px) {
    .uploadQR-row {
        margin-top: 40px;
        height: 400px;
        border-style: solid;
    }

    .uploadQR-inputImage {
        margin-top : 40px;
        font-size: 30px;
        /* border-style: solid; */
    }

    .qr-code-settings-container {
        margin-top: 50px !important;
    }
}

@media (min-width: 768px) { 
    .uploadQR-row {
        margin-top: 40px;
        height: 400px;
        border-style: solid;
    }

    .uploadQR-inputImage {
        margin-top : 40px;
        font-size: 30px;
        /* border-style: solid; */
    }

    .qr-code-settings-container {
        margin-top: 50px !important;
    }
}

@media (min-width: 992px) { 
    .uploadQR-row {
        margin-top: 40px;
        height: 400px;
        /* border-style: solid; */
    }
    
    .uploadQR-inputImage {
        margin-top : 40px;
        font-size: 30px;
        border-style: solid;
    }

    .qr-code-settings-container {
        margin-top: 50px !important;
    }
}

@media (min-width: 1200px) {
    .qr-code-title {
        margin-top: 15px;
        font-size: 40px;
    }

    .qr-code-logo {
        height: 120px;
        width: 120px;
    }
    
    .uploadQR-row {
        margin-top: 40px;
        height: 300px;
        border-style: solid;
    }

    .uploadQR-inputImage {
        margin-top : 40px !important;
        margin-bottom: 20px !important;
        font-size: 30px !important;
        /* border-style: solid !important; */
    }

    .qr-code-button {
        margin-top: 80px;
        font-size: 20px !important;
        width: 26%;
    }

    .qr-code-container {
        margin-top: 20px;
    }

    .upload-qr-code-server-status-success {
        margin-top: 80px;
        font-size: 30px;
        color: green;
    }
    
    .upload-qr-code-server-status-unsuccessful {
        margin-top: 80px;
        font-size: 30px;
        color: red;
    }
}

@media (min-width: 1400px) {
    .qr-code-title {
        margin-top: 15px;
        font-size: 50px;
    }

    .qr-code-logo {
        height: 140px;
        width: 140px;
    }

    .uploadQR-row {
        margin-top: 40px;
        height: 400px;
        border-style: solid;
    }

    .uploadQR-inputImage {
        margin-top : 40px !important;
        font-size: 30px !important;
        /* border-style: solid !important; */
    }

    .qr-code-button {
        margin-top: 50px;
        font-size: 30px !important;
        width: 26%;
    }

    .qr-code-container {
        margin-top: 70px !important;
    }

    .upload-qr-code-server-status-success {
        margin-top: 30px;
        font-size: 50px;
        color: green;
    }
    
    .upload-qr-code-server-status-unsuccessful {
        margin-top: 30px;
        font-size: 50px;
        color: red;
    }
}

@media (min-width: 3840px) {
    .qr-code-title {
        margin-top: 50px;
        font-size: 150px;
    }

    .react-switch-bg {
        /* height: 50px !important;
        width: 50px !important; */
    }

    .qr-code-logo {
        height: 400px;
        width: 400px;
    }

    .qr-code-status-header {
        font-size: 100px;
    }

    .uploadQR-row {
        margin-top: 40px;
        height: 900px;
        border-style: solid;
    }

    .uploadQR-inputImage {
        margin-top : 40px !important;
        font-size: 80px !important;
    }

    .qr-code-button {
        margin-top: 70px;
        font-size: 70px !important;
        width: 26%;
    }

    .qr-code-container {
        margin-top: 70px !important;
        height: 900px;
        width: 2700px !important;
    }

    .upload-qr-code-server-status-success {
        margin-top: 200px;
        font-size: 100px;
        color: green;
    }
    
    .upload-qr-code-server-status-unsuccessful {
        margin-top: 200px;
        font-size: 100px;
        color: red;
    }
}