@media (min-width: 576px) { 
    .uploadTimetable-container {
        margin-top: 100px;
        height: 500px;
        border-style: solid;
    }

    .uploadTimetable-fileInput {
        margin-top : 3% !important; 
        font-size: 30px;
        border-style: solid; 
    }
    
    .uploadTimetable_server_status_success {
        margin-top: 2.3em;
        font-size: 50px;
        color: green;
    }
    
    .uploadTimetbale_server_status_unsuccessful {
        margin-top: 2.3em;
        font-size: 50px;
        color: red;
    }
}

@media (min-width: 768px) { 
    .uploadTimetable-container {
        margin-top: 100px;
        height: 500px;
        border-style: solid;
    }

    .uploadTimetable-fileInput {
        margin-top : 3% !important; 
        font-size: 30px;
        border-style: solid; 
    }
    
    .uploadTimetable_server_status_success {
        margin-top: 2.3em;
        font-size: 50px;
        color: green;
    }
    
    .uploadTimetbale_server_status_unsuccessful {
        margin-top: 2.3em;
        font-size: 50px;
        color: red;
    }
}

@media (min-width: 992px) { 
    .uploadTimetable-container {
        margin-top: 100px;
        height: 500px;
        border-style: solid;
    }

    .uploadTimetable-fileInput {
        margin-top : 3% !important; 
        font-size: 30px;
        border-style: solid; 
    }
    
    .uploadTimetable_server_status_success {
        margin-top: 2.3em;
        font-size: 50px;
        color: green;
    }
    
    .uploadTimetbale_server_status_unsuccessful {
        margin-top: 2.3em;
        font-size: 50px;
        color: red;
    }
}

@media (min-width: 1200px) {    
    .uploadTimetable-container {
        margin-top: 2%;
        height: 350px;
        width: 1000px !important;
        border-style: solid;
    }

    .title-header {
        margin-top: 20px;
        font-size: 50px;
    }

    .uploadTimetable-icon {
        height: 130px !important;
        width: 130px !important;
    }

    .uploadTimetable-fileInput {
        margin-top : 1% !important; 
        font-size: 20px;
        border-style: solid; 
    }

    .uploadTimetable-button {
        margin-top: 50px;
        font-size: 20px !important;
        width: 26%;
    }

    .uploadTimetable-hint-button {
        margin-top: 20px;
        width: 8%;
        font-size: 20px !important;
    }
    
    .uploadTimetable_server_status_success {
        margin-top: 15px;
        font-size: 40px;
        color: green;
    }
    
    .uploadTimetbale_server_status_unsuccessful {
        margin-top: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        word-wrap: break-word;
        height: 70px;
        width: 1280px;
        border-style: solid;
        font-size: 40px;
    }

    .modal-dialog {
        margin-top: 30px !important; 
        width: 45%;
        max-width: 45% !important;
    }

    .modal-title.h4 {
        font-size: 20px !important;
    }

    .modal-content {
        font-size: 20px;
    }

    .uploadTimetable-close-button {
        font-size: 20px !important;
    }
}

@media (min-width: 1400px) { 
    .uploadTimetable-container {
        margin-top: 50px;
        height: 500px;
        width: 1700px !important;
        border-style: solid;
    }

    .title-header {
        margin-top: 40px;
        font-size: 80px;
    }

    .uploadTimetable-icon {
        height: 180px !important;
        width: 180px !important;
    }

    .uploadTimetable-fileInput {
        margin-top : 2% !important; 
        font-size: 30px;
        border-style: solid; 
    }

    .uploadTimetable-button {
        margin-top: 50px;
        font-size: 30px !important;
        width: 26%;
    }

    .uploadTimetable-hint-button {
        margin-top: 20px;
        width: 8%;
        font-size: 25px !important;
    }
    
    .uploadTimetable_server_status_success {
        margin-top: 1.5em;
        font-size: 70px;
        color: green;
    }
    
    .uploadTimetbale_server_status_unsuccessful {
        margin-top: 2.3em;
        overflow-y: scroll;
        overflow-x: hidden;
        word-wrap: break-word;
        height: 160px;
        width: 1920px;
        border-style: solid;
        font-size: 40px;
    }

    .modal-dialog {
        margin-top: 50px !important; 
        width: 45%;
        max-width: 45% !important;
    }

    .modal-title.h4 {
        font-size: 30px !important;
    }

    .modal-content {
        font-size: 30px;
    }

    .uploadTimetable-close-button {
        font-size: 30px !important;
    }
}

@media (min-width: 3840px) {
    .uploadTimetable-container {
        margin-top: 100px;
        height: 900px;
        width: 2700px !important;
        border-style: solid;
    }

    .title-header {
        margin-top: 150px;
        font-size: 170px;
    }

    .uploadTimetable-icon {
        height: 300px !important;
        width: 300px !important;
    }

    .uploadTimetable-fileInput {
        margin-top : 4% !important; 
        font-size: 80px;
        border-style: solid; 
    }
    
    .uploadTimetable-button {
        margin-top: 70px;
        font-size: 70px !important;
        width: 26%;
    }

    .uploadTimetable-hint-button {
        margin-top: 20px;
        width: 8%;
        font-size: 70px !important;
    }
    
    .uploadTimetable_server_status_success {
        margin-top: 1.5em;
        font-size: 100px;
        color: green;
    }
    
    .uploadTimetbale_server_status_unsuccessful {
        margin-top: 2.3em;
        overflow-y: scroll;
        overflow-x: hidden;
        word-wrap: break-word;
        height: 400px;
        width: 3840px;
        border-style: solid;
        font-size: 100px;
    }

    .modal-dialog {
        margin-top: 90px !important; 
        width: 50%;
        max-width: 50% !important;
    }

    .modal-title.h4 {
        font-size: 60px !important;
    }

    .modal-content {
        font-size: 60px;
    }

    .uploadTimetable-close-button {
        font-size: 50px !important;
    }
}