.card-annc {
    margin-top: 2%;
    font-size: 4.5em;
    overflow: hidden;
}

@keyframes slidein {
    from {
      transform: translateX(3%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0%);
      opacity: 100;
    }
}

@keyframes slideout {
    from {
      transform: translateX(0%);
      opacity: 100;
    }
  
    to {
      transform: translateX(-28%);
      opacity: 0;
    }
}

.annc-current {
    animation-name: slideout;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.annc-next {
    animation-name: slidein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}