@media (min-width: 576px) {
    .makrooh-time-message {
        position: absolute;
    }
}

@media (min-width: 768px) {
    .makrooh-time-message {
        position: absolute;
    }

}

@media (min-width: 992px) {
    .makrooh-time-message {
        position: absolute;
    }

}

@media (min-width: 1200px) {
    .makrooh-time-message {
        position: absolute;
        left: 72%;
        top: 68%;
        width: 30%;
        color: red;
        font-size: 24px;
    }

}

@media (min-width: 1400px) {
    .makrooh-time-message {
        position: absolute;
        left: 70%;
        top: 70%;
        width: 30%;
        color: red;
        font-size: 40px;
    }

}