@media (min-width: 576px) {
    .edit-slides-title {
        margin-top: 15px;
        font-size: 60px;
    }
    
    .edit-slides-container {
        margin-left: 1% !important;
        margin-top: 2%;
        font-size: 45px !important;
    }
    
    .edit-slides-header-row {
        width: 50%;
        margin-left: 10px !important;
    }
    
    .edit-slides-header {
        text-align: left; 
        font-size: 45px;
    }
    
    .slides-container {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
    }
    
    .slides-row {
        margin-top: 2% !important;
        margin-left: 10px !important;
    }
    
    .slides-image {
        width: 100%; 
        height: 100%;
    }
    
    .slides {
        text-align: left;
        margin-top: 1%;
    }
    
    .slides-button {
        width: 100%;
        font-size: 45px !important;
    }
    
    .slides-submit-button {
        position: relative;
        bottom: 6px;
        font-size: 45px !important;
    }
    
    .new-slides-header-row {
        margin-top: 5% !important;
        margin-left: 10px !important;
    }
    
    .new-slides-header {
        text-align: left; 
        font-size: 45px;
    }
    
    .new-slides-input {
        font-size: 45px;
    }

    .slides-error-row {
        margin-top: 1px !important;
        margin-left: 10px !important;
    }

    .slides-error {
        text-align: left;
        color: red;
    }
    
    /* .slides-img-row {
        width: 5px;
        height: 10px;
        max-width: 5px;
        max-height: 10px;
        border-style: dotted;
    } */
}

@media (min-width: 768px) {
    .edit-slides-title {
        margin-top: 15px;
        font-size: 60px;
    }
    
    .edit-slides-container {
        margin-left: 1% !important;
        margin-top: 2%;
        font-size: 45px !important;
    }
    
    .edit-slides-header-row {
        width: 50%;
        margin-left: 10px !important;
    }
    
    .edit-slides-header {
        text-align: left; 
        font-size: 45px;
    }
    
    .slides-container {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
    }
    
    .slides-row {
        margin-top: 2% !important;
        margin-left: 10px !important;
    }
    
    .slides-image {
        width: 100%; 
        height: 100%;
    }
    
    .slides {
        text-align: left;
        margin-top: 1%;
    }
    
    .slides-button {
        width: 100%;
        font-size: 45px !important;
    }
    
    .slides-submit-button {
        position: relative;
        bottom: 6px;
        font-size: 45px !important;
    }
    
    .new-slides-header-row {
        margin-top: 5% !important;
        margin-left: 10px !important;
    }
    
    .new-slides-header {
        text-align: left; 
        font-size: 45px;
    }
    
    .new-slides-input {
        font-size: 45px;
    }

    .slides-error-row {
        margin-top: 1px !important;
        margin-left: 10px !important;
    }

    .slides-error {
        text-align: left;
        color: red;
    }
    
    /* .slides-img-row {
        width: 5px;
        height: 10px;
        max-width: 5px;
        max-height: 10px;
        border-style: dotted;
    } */
}

@media (min-width: 992px) {
    .edit-slides-title {
        margin-top: 15px;
        font-size: 60px;
    }
    
    .edit-slides-container {
        margin-left: 1% !important;
        margin-top: 2%;
        font-size: 45px !important;
    }
    
    .edit-slides-header-row {
        width: 50%;
        margin-left: 10px !important;
    }
    
    .edit-slides-header {
        text-align: left; 
        font-size: 45px;
    }
    
    .slides-container {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
    }
    
    .slides-row {
        margin-top: 2% !important;
        margin-left: 10px !important;
    }
    
    .slides-image {
        width: 100%; 
        height: 100%;
    }
    
    .slides {
        text-align: left;
        margin-top: 1%;
    }
    
    .slides-button {
        width: 100%;
        font-size: 45px !important;
    }
    
    .slides-submit-button {
        position: relative;
        bottom: 6px;
        font-size: 45px !important;
    }
    
    .new-slides-header-row {
        margin-top: 5% !important;
        margin-left: 10px !important;
    }
    
    .new-slides-header {
        text-align: left; 
        font-size: 45px;
    }
    
    .new-slides-input {
        font-size: 45px;
    }

    .slides-error-row {
        margin-top: 1px !important;
        margin-left: 10px !important;
    }

    .slides-error {
        text-align: left;
        color: red;
    }
    
    /* .slides-img-row {
        width: 5px;
        height: 10px;
        max-width: 5px;
        max-height: 10px;
        border-style: dotted;
    } */
}

@media (min-width: 1200px) {
    .edit-slides-title {
        margin-top: 15px;
        font-size: 40px;
    }
    
    .edit-slides-container {
        margin-left: 1% !important;
        margin-top: 2%;
        font-size: 35px !important;
    }
    
    .edit-slides-header-row {
        width: 50%;
        margin-left: 10px !important;
    }
    
    .edit-slides-header {
        text-align: left; 
        font-size: 35px;
    }
    
    .slides-container {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 250px;
    }
    
    .slides-row {
        margin-top: 2% !important;
        margin-left: 10px !important;
    }
    
    .slides-image {
        width: 100%; 
        height: 100%;
    }
    
    .slides {
        text-align: left;
        margin-top: 1%;
    }
    
    .slides-button {
        width: 100%;
        font-size: 35px !important;
    }
    
    .slides-submit-button {
        position: relative;
        bottom: 6px;
        font-size: 35px !important;
    }
    
    .new-slides-header-row {
        margin-top: 5% !important;
        margin-left: 10px !important;
    }
    
    .new-slides-header {
        text-align: left; 
        font-size: 35px;
    }
    
    .new-slides-input {
        font-size: 35px;
    }

    .slides-error-row {
        margin-top: 1px !important;
        margin-left: 10px !important;
    }

    .slides-error {
        text-align: left;
        color: red;
    }
    
    /* .slides-img-row {
        width: 5px;
        height: 10px;
        max-width: 5px;
        max-height: 10px;
        border-style: dotted;
    } */
}

@media (min-width: 1400px) {
    .edit-slides-title {
        margin-top: 15px;
        font-size: 60px;
    }
    
    .edit-slides-container {
        margin-left: 1% !important;
        margin-top: 2%;
        font-size: 45px !important;
    }
    
    .edit-slides-header-row {
        width: 50%;
        margin-left: 10px !important;
    }
    
    .edit-slides-header {
        text-align: left; 
        font-size: 45px;
    }
    
    .slides-container {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
    }
    
    .slides-row {
        margin-top: 2% !important;
        margin-left: 10px !important;
    }
    
    .slides-image {
        width: 100%; 
        height: 100%;
    }
    
    .slides {
        text-align: left;
        margin-top: 1%;
    }
    
    .slides-button {
        width: 100%;
        font-size: 45px !important;
    }
    
    .slides-submit-button {
        position: relative;
        bottom: 6px;
        font-size: 45px !important;
    }
    
    .new-slides-header-row {
        margin-top: 5% !important;
        margin-left: 10px !important;
    }
    
    .new-slides-header {
        text-align: left; 
        font-size: 45px;
    }
    
    .new-slides-input {
        font-size: 45px;
    }

    .slides-error-row {
        margin-top: 1px !important;
        margin-left: 10px !important;
    }

    .slides-error {
        text-align: left;
        color: red;
    }
    
    /* .slides-img-row {
        width: 5px;
        height: 10px;
        max-width: 5px;
        max-height: 10px;
        border-style: dotted;
    } */
}