@media (min-width: 576px) {
    .jamaat-prayer-name {
        font-size: 100px !important;
    }

    .jamaat-prayer-time {
        font-size: 150px !important;
    }

    .jamaat-prayer-phone {
        max-height: 150px;
        max-width: 150px;
    }
}

@media (min-width: 768px) {
    .jamaat-prayer-name {
        font-size: 100px !important;
    }

    .jamaat-prayer-time {
        font-size: 150px !important;
    }

    .jamaat-prayer-phone {
        max-height: 150px;
        max-width: 150px;
    }
}

@media (min-width: 992px) {
    .jamaat-prayer-name {
        font-size: 100px !important;
        height: 250px;
    }

    .jamaat-prayer-time {
        font-size: 150px !important;
        margin-bottom: 60px;
    }

    .jamaat-prayer-phone {
        max-height: 150px;
        max-width: 150px;
    }
}

@media (min-width: 1200px) {
    .jamaat-prayer-container {
        height: 100%;
        width: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    .jamaat-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .jamaat-prayer-name-fajr {
        font-size: 130px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-fajr {
        font-size: 130px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 23%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-jumuʿah {
        font-size: 130px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-jumuʿah {
        font-size: 130px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 20%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-zuhr {
        font-size: 130px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-zuhr {
        font-size: 130px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 20%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-asr {
        font-size: 130px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5%;
        right: 0;
        text-align: left;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-asr {
        font-size: 130px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 5%;
        text-align: right;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-maghrib {
        font-size: 140px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 18%;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-maghrib {
        font-size: 140px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 21%;
        bottom: 0;
        left: 0;
        right: 18%;
        text-align: center;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-isha {
        font-size: 140px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: left;
        margin-left: 30px;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-isha {
        font-size: 140px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 30px;
        text-align: right;
        margin-left: 30px;
        /* height: fit-content;
        margin: auto; */
    }
  
    .jamaat-prayer-name {
        font-size: 150px !important;
    }

    .jamaat-prayer-time {
        font-size: 150px !important;
        margin-bottom: 60px;
    }

    .jamaat-prayer-phone {
        max-height: 150px;
        max-width: 150px;
    }
}

@media (min-width: 1400px) {
    .jamaat-prayer-container {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .jamaat-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    
    }

    .jamaat-prayer-name-fajr {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-fajr {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 22%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-jumuʿah {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-jumuʿah {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 18%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-zuhr {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-zuhr {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 18%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-asr {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5%;
        right: 0;
        text-align: left;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-asr {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 5%;
        text-align: right;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-maghrib {
        font-size: 170px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 18%;
        /* margin-left: 15%; */
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-time-maghrib {
        font-size: 170px !important;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 21%;
        bottom: 0;
        left: 0;
        right: 18%;
        text-align: center;
        /* height: fit-content;
        margin: auto; */
    }

    .jamaat-prayer-name-isha {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: left;
        margin-left: 30px;
        /* height: fit-content;
        margin: auto; */
    }
      
    .jamaat-prayer-name {
        font-size: 250px !important;
    }

    .jamaat-prayer-time {
        font-size: 200px !important;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 2%;
        text-align: right;
        /* height: fit-content;
        margin: auto; */
        margin-top: 7% !important;
        margin-bottom: 70px;
    }

    .jamaat-prayer-message {
        font-size: 50px;
        margin-bottom: 60px;
    }

    .jamaat-prayer-phone {
        max-height: 250px;
        max-width: 250px;
    }
}