@media (min-width: 576px) {
    .jamaat-prayer-name {
        font-size: 100px !important;
    }

    .jamaat-prayer-time {
        font-size: 150px !important;
    }

    .jamaat-prayer-phone {
        max-height: 150px;
        max-width: 150px;
    }
}

@media (min-width: 768px) {
    .jamaat-prayer-name {
        font-size: 100px !important;
    }

    .jamaat-prayer-time {
        font-size: 150px !important;
    }

    .jamaat-prayer-phone {
        max-height: 150px;
        max-width: 150px;
    }
}

@media (min-width: 992px) {
    .jamaat-prayer-name {
        font-size: 100px !important;
        height: 250px;
    }

    .jamaat-prayer-time {
        font-size: 150px !important;
        margin-bottom: 60px;
    }

    .jamaat-prayer-phone {
        max-height: 150px;
        max-width: 150px;
    }
}

@media (min-width: 1200px) {
    .jamaat-prayer-name {
        font-size: 150px !important;
    }

    .jamaat-prayer-time {
        font-size: 150px !important;
        margin-bottom: 60px;
    }

    .jamaat-prayer-phone {
        max-height: 150px;
        max-width: 150px;
    }
}

@media (min-width: 1400px) {
    .jamaat-prayer-name {
        font-size: 250px !important;
    }

    .jamaat-prayer-time {
        font-size: 200px !important;
        margin-top: 7% !important;
        margin-bottom: 70px;
    }

    .jamaat-prayer-message {
        font-size: 50px;
        margin-bottom: 60px;
    }

    .jamaat-prayer-phone {
        max-height: 250px;
        max-width: 250px;
    }
}